.projects__header {
  color: $color-periwinkle-gray;
  @extend %header;
}

.projects__link {
  display: block;
  text-align: center;
  border: 0.2rem solid $color-periwinkle-gray;
  font-size: 2rem;
  text-decoration: none;
  margin: 0.2rem 0.3rem;
  color: $color-sunglo;
}

