-
  var header='#Recent project'

#projects
.projects
  .projects__header=header
  .projects__list
      a.projects__link(title="learn everyday and become goodest" href="https://a11exandru.github.io/w3schools-replica/") w3schools-replica
      a.projects__link(title="learn everyday and become the best" href="https://a11exandru.github.io/my-cv/") my-cv
      a.projects__link(title="learn everyday and become the best" href="https://a11exandru.github.io/quick-blog/") Quick Blog