doctype html
html
  block cool-config
  head
    title=myTitleForGoogle
    meta(name='description' content=myDescriptionForGoogle)
    link(rel="stylesheet", href="style.css")
  body
    block awesome-content