doctype html
html
  block cool-config
  head
    title=myTitleForGoogle
    meta(name='description' content=myDescriptionForGoogle)
    meta(http-equiv="refresh" content="0; url=https://a11exandru.github.io/my-cv-final/")
    link(rel="stylesheet", href="style.css")
  body
    block awesome-content