.what-i-can-do__header {
  color: $color-periwinkle-gray;
  @extend %header;
}

.what-i-can-do__title {
  color: $color-fiord;
  text-align: center;
  font-size: 3rem;
  padding: 1rem 0;
}

.what-i-can-do__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.what-i-can-do__skill {
  padding: 0.7rem;
  border: 0.1rem solid $color-periwinkle-gray;
  margin: 0.2rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  white-space: nowrap;
}