extends _component/layout/page

block cool-config
  -
    var myTitleForGoogle= 'My CV'
    var myDescriptionForGoogle= 'This is amde using PURE HTML5 and CSS3 techniques'
block awesome-content
  include _component/landing-page/landing-page
  include _component/about-me/about-me
  include _component/award/award
  include _component/skills/what-can-i-do
  include _component/experience/experience
  include _component/projects/projects
  include _component/menu/menu