extends _component/layout/page

block cool-config
  -
    var myTitleForGoogle= 'My CV'
    var myDescriptionForGoogle= 'This is amde using PURE HTML5 and CSS3 techniques'
block awesome-content
  h1 this is it